.comment {
    width: 100%;
    height: 100px;
    padding: 10px;
    background-color: #d0e2bc;
  }

  img{

    width:  250px;
    height: 250px;
    object-fit: cover;
  }

  html {
    overflow: -moz-scrollbars-vertical;
    overflow-y: scroll;
}

html {
    height: 100vw;
}

#errorsComments, .textos, .textDiv2, .textDiv3, #delete2, #commentDeleteButton, .usuarioComments, #userTitle, #editBirdX, #backToBirds {
  background-color: rgba(238, 238, 238, 0.993);
}
.formErrors{
  text-align: center;
}
